@model MovieLibrary.Web.Views.ViewModels.CategoriesOfMovieViewModel
<ul>
    <li>
        <a href="/Movies/AllMoviesInCategory?category=all" class="stretched-link " style="position:relative;">
           <b>All (@Model.AllMoviesCount)</b>
        </a>
    </li>
    @foreach (var category in Model.CategoriesMovies)
    {
        <li>
            <a href="/Movies/AllMoviesInCategory?category=@category.Name" class="stretched-link" style="position:relative;">
              <b>  @category.Name (@category.MoviesCount)</b>
            </a>
        </li>
    }
</ul>
