@model MovieLibrary.Web.ViewModels.Ratings.OutputRatingsViewModel
<div class=" conteiner text-center">
    <br />
    @if (Model.IsVoted == true)
    {
        <h1><i> You already voted for this movie! </i></h1>
    }
    else
    {
        <fieldset class="border border-white" style="background-color:black;">
            <legend style="width:auto;padding:10px;">
                VOTE FOR THIS FILM
            </legend>

            <div class="row">
                <div class="col-sm-3 ">

                    <h4> <i> Please click the stars</i></h4>

                </div>
                <form method="post">
                    <div class="col-sm-9 d-flex  ">
                        @foreach (var model in Model.Ratings)
                        {
                            <h3>
                                <input type="radio" asp-for="Rating" value="@(model)" />
                                @(model)<i class="fas fa-star"></i>
                            </h3>
                        }
                    </div>
                    <span asp-validation-for="Rating" class="text-danger"></span>
                    <br />
                    @{
                        var movieId = 1;
                        if (Model != null)
                        {
                            movieId = Model.MovieId;
                        }
                    }

                    <div class="d-flex justify-content-center">
                        <input type="submit" class="btn btn-primary rounded-pill">
                        <a class="btn btn-primary rounded-pill" href="/Ratings/Success?movieId=@movieId" role="button">Cancel</a>
                    </div>

                    <br />
                </form>
            </div>
        </fieldset>
    }
</div>
@section Path{
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Movies/All">Home</a></li>
            <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
            <li class="breadcrumb-item"><a href="/Movies/Details?movieId=@(Model.MovieId)">Detail</a></li>
            <li class="breadcrumb-item active" aria-current="page">Rating</li>
        </ol>
    </nav>
}










