<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
    @model MovieLibrary.Web.ViewModels.Movies.InputCreateMovieViewModel
    @{ this.ViewData["Title"] = "Add new movie";
        var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));

    }
    <div class="container text-center">
        <fieldset class="border border-white">
            <legend style="width:auto;padding:10px;">
                Add new movie
            </legend>
            <form class="form-horizontal" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="mb-3 row">
                    <label asp-for="Name" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Enter film's name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Year" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="Year" type="text" class="form-control" id="year" placeholder="Enter film's year">
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Runtime" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="Runtime" type="text" class="form-control" id="runtime" placeholder="Enter film's runtime (in minutes)">
                        <span asp-validation-for="Runtime" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Director" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="Director" type="text" class="form-control" id="runtime" placeholder="Enter director's name">
                        <span asp-validation-for="Director" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Storyline" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <textarea asp-for="Storyline" class="form-control" id="storyline" rows="3" placeholder="Enter film's storyline..."></textarea>
                        <span asp-validation-for="Storyline" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="ImdbRating" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="ImdbRating" type="text" class="form-control" id="imdbRating" placeholder="Enter film's IMDB rating">
                        <span asp-validation-for="ImdbRating" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="PosterPath" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="PosterPath" type="text" class="form-control" id="posterPath" placeholder="https://...">
                        <span asp-validation-for="PosterPath" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="SecondPosterPath" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="SecondPosterPath" type="text" class="form-control" id="posterPath" placeholder="https://...">
                        <span asp-validation-for="SecondPosterPath" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="TrailerUrl" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <input asp-for="TrailerUrl" type="text" class="form-control" id="trailerUrl" placeholder="https://...">
                        <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label asp-for="Categories" class="col-form-label col-sm-2"></label>
                    <div class="col-sm-8">
                        <select class="selectpicker" multiple="multiple">
                            <optgroup label="Categories:">
                                @foreach (var item in categoryItems)
                                {
                                    var value = item.Value;
                                    var label = item.Text;
                                    <option value="@value">@label</option>
                                }
                            </optgroup>
                        </select>
                        <span asp-validation-for="Categories" class="text-danger"></span>
                    </div>
                </div>
                <div id="ArtistsContainer">
                    <label asp-for="Artists">Add Artists</label>
                    <a class="btn btn-success" onclick="AddMoreArtists()">+</a>
                </div>
                <br />
                <div class="form-group">
                    <div class="d-flex justify-content-center">
                        <button type="submit" id="submit" class="btn btn-primary rounded-pill">Submit</button>
                        <a class="btn btn-primary rounded-pill" href="/Movies/All" role="button">Cancel</a>
                    </div>
                </div>

            </form>
        </fieldset>
    </div>

    @section Scripts {
        <script>
            var artistIndex = 0;
            function AddMoreArtists() {
                $("#ArtistsContainer").
                    append("<div class='row'><label class='col-form-label col-sm-2'>Artist's name:</label><div class='col-sm-3'><input class='form-control' type='text' name='Artists[" + artistIndex + "].Name' id='name' placeholder='Artist's name...'></div></div>");
                artistIndex++;
            }
        </script>

        <script>
            $('select').selectpicker();

        </script>
    }

    @section Path{
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add New Movie</li>
        </ol>
    }
    </body>
</html>