@using MovieLibrary.Common
@model MovieLibrary.Web.ViewModels.Movies.DetailsMovieViewModel
<script src="https://kit.fontawesome.com/7bda27f782.js" crossorigin="anonymous"></script>
<br />
<div class="d-flex justify-content-center">
    <div class="card text-center" style="width:800px;background-color: black;">
        <div class="img-fluid img-thumbnail">
            <img class="card-img-top" src=@Model.PosterUrl alt="Film image" style="height:1000px;width:790px">
        </div>
        <p class="h1 text-center">Storyline</p>
        <p class="container text-white text-sm-left">@Model.Storyline</p>
        <p class="h1 text-center">Stars:</p>
        <p>
            <ul class="list-inline container text-white text-sm-left">
                @foreach (var artist in Model.Artists)
                {
                    <li class="list-inline-item">
                        <a href="/Artists/Detail?artist=@artist.Name&movieId=@(Model.Id)" class="stretched-link text-info" style="position:relative; height:50px;width: 180px">
                            <i class="far fa-user-circle"></i> @(artist.Name)
                        </a>
                    </li>
                }
            </ul>
        </p>
        <p>
            <div class="row justify-content-around">
                <a href="/Comments/AllComments?movieId=@Model.Id" class="btn btn-primary rounded-pill">
                    <i class="far fa-comment-dots"></i> View All Comments
                </a>
                @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a href="/Ratings?movieId=@Model.Id" class="btn btn-primary rounded-pill">
                        <i class="fas fa-star"></i>Vote for movie
                    </a>
                }
            </div>
        </p>
    </div>
</div>
@section Path{
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detail</li>
        </ol>
    </nav>
}
