/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#navInfoMovie {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#navigationBar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 100px;
}

    #navigationBar ul {
        float: right;
        margin-right: 30px;
    }

        #navigationBar ul li {
            list-style-type: none;
            display: inline-block;
            transition: 0.8s all;
        }

nav-item dropdown {
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}

#navigationBar ul li:hover {
    background-color: #f39d1a;
}

#navigationBarul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

#cardMovie {
    width: 240px;
    height: 340px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px; /* 5px rounded corners */
}

#cardImage {
    height: 260px;
    width: 240px;
    border-radius: 8px 8px 0 0;
}

#movieDetails {
    width: 80%;
    border-style: double;
    border-color: white;
    /*border-width: 2px;
    border-color: black;*/
    /* background-color: rgba(0, 0, 0, 0.7);*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    /* 5px rounded corners */
}

#poster {
    width: 100%;
    border-style:solid;
    border-color: black;
    border-radius: 4px;
}

#contentMovie {
    text-align: center;
}

#contentInfo {
    position: absolute;
    background-color: Black;
    font-size: 16px;
    font-style: normal;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: -5px;
    padding: 5px;
    opacity: 0.9;
}

#contentMovie .title h3 {
    color: white;
    padding-top: 10px;
}


#contentCard {
    text-align: center;
    color: white;
    font-weight: bold;
}


ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
}

#movieDetails .card-body {
    background-color: #25055a;
}

#movieDetails .card-footer {
    background-color: black;
    height: 700px;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

nav a {
    padding: 10px;
}

#storyline {
    height: 500px;
    background-color: black;
    color: white;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(../img/10.jpg);
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px;
    background-color:black;
    opacity:0.8;
}
