/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.theme-light {
    --color-primary: #0060df;
    --color-secondary: #9999ff;
    --color-accent: #fd6f53;
    --font-color: #000000;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: url(../img/17.png);
    --color-accent: #12cdea;
    --font-color: #ffffff;
}
.container-fluid{
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .container h1 {
        color: var(--font-color);
    }

    .container button {
        color: var(--font-color);
        background: var(--color-primary);
        padding: 10px 20px;
        border: 0;
        border-radius: 5px;
    }

#switch {
color:#df691a;
position:absolute;
top:5px;
right:15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    resize:both;
}

#comments {
    position: relative;
    top: 7px;
    left: 10px;
}
    #comments a {
        color: darkorange;
    }

#infoNavbar a {
    color: darkorange;
}

#voteElement {
    position: relative;
    top: 7px;
    left: 15px;
}

ul {
    margin-top: 5px;
    margin-left: 10px;
}

hr {
    background-color: white;
}

#body {
    width: 100%;
    align-content: center
}

#navInfoMovie {
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#navigationBar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 100px;
}

   /* #navigationBar a {
    font-size:18px;
    font-weight:bold;
    }*/

    #ulRight{
        float: right;
        /*margin-right: 30px;*/
    }

        #navigationBar ul li {
            display: inline-block;
        }

#searchButton {
    color: #df691a;
}

#dropdownButton {
    color: #df691a;
}

#top15Button {
    color: #df691a;
}

#categoryMenu {
    background-color: black;
}

    #categoryMenu li {
        line-height: 22px;
    }

#cardMovie {
    /* height: 340px;*/
    width: 190px;
    background-color: black;
    border-radius: 8px; /* 5px rounded corners */
    border-color: #25055a;
    justify-content: center;
    padding: 5px,5px,5px,5px;
}

#cardImage {
    height: 200px;
    width: 185px;
    border-radius: 8px 8px 8px 8px;
    padding: 1px,1px,1px,1px;
}

#movieCardBody {
    height: 130px;
    width: 185px;
    background-color: black;
    border-radius: 0 0 8px 8px;
}

    #movieCardBody p {
        color: #df691a;
    }


#caroselCard {
    /* height: 340px;*/
    width: 183px;
    background-color: black;
    border-radius: 8px; /* 5px rounded corners */
    justify-content: center;
    padding: 5px,5px,5px,5px;
    margin: auto;
}

#caroselImage {
    height: 200px;
    width: 178px;
    border-radius: 8px 8px 8px 8px;
    padding: 1px,1px,1px,1px;

}

#caroselTitle {
    height: 110px;
    width: 178px;
    text-align: center;
    border-radius: 0 0 8px 8px;
}


#rank {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: firebrick;
    color: white;
    font-size: 16px;
}

#cardArtist {
   /* height: 290px;*/
    width: 190px;
    background-color: black;
    border-radius: 8px; /* 5px rounded corners */
    border-color: #25055a;
    justify-content: center;
    padding: 5px,5px,5px,5px;
}

#cardArtistImage {
    height: 210px;
    width: 185px;
    border-radius: 8px 8px 8px 8px;
    padding: 1px,1px,1px,1px;
}

#artistCardBody {
    background-color: black;
    border-radius: 0 0 8px 8px;
    font-size: 13px;
}

#artistCardFooter {
    background-color: black;
    border-radius: 0 0 8px 8px;
    font-size: 13px;
}



#movieDetails {
    width: 100%;
    border-style: double;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    /* 5px rounded corners */
}

#collectToColletion {
    position: relative;
}

#removeFromCollection {
    position: relative;
}

#detailEditButton {
    position: relative;
}

#poster {
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 4px 4px 0px 0px;
}

#secondPoster {
    background-size: 100% 100%;
}

#contentMovie {
    position: relative;
    resize: both;
    text-align: center;
}

/*#contentInfo {
    position: relative;
    background-color: Black;
    font-size: 16px;
    font-style: normal;*/
    /*height: 60px;*/
    /*bottom: 10px;*/
    /*left: -5px;*/
   /* padding: 5px;*/
    /*opacity: 0.9;
    margin-top: 170px;
}*/
#contentInfo {
    position: relative;
    background-color: Black;
    font-size: 16px;
    font-style: normal;
    /*height: 60px;*/
    /*bottom: 10px;*/
/*    left: -5px;*/
    /* padding: 5px;*/
    opacity: 0.9;
/*    margin-top: 170px;*/
}

    #voteElement > span:hover {
        color: orangered;
        background-color:  sienna;
        font-size:large;
        border-radius:5px 6px;
    }

#trailer {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

#trailerFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#contentMovie .title h3 {
    color: white;
    padding-top: 10px;
}


#contentCard {
    text-align: center;
    color: white;
    font-weight: bold;
}

#detailArtistCard {
    width: 145px;
   /* height: 230px;*/
    background-color: black;
    border-radius: 8px 8px 0px 0px;
}

#detailArtistPhoto {
    width: 140px;
    height: 150px;
    border-radius: 8px 8px 0px 0px;
}

#detailArtistPhotoTitle {
    width: 140px;
    height: 55px;
}

ol.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
}

#movieDetails .card-body {
    background-color: #25055a;
}

#movieDetails .card-footer {
    background-color: black;
}
    #movieDetails .card-footer p {
    color:darkorange;
    }
    #info-list li {
        float: right;
    }



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

nav a {
    padding: 3px;
}

#storyline {
   background-color: black;
    color: white;
}

#deleteButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: firebrick;
    color: white;
    font-size: 16px;
}

#editButtonForArtist {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #1b6ec2;
    color: white;
    font-size: 16px;
}

#editButton {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #1b6ec2;
    color: white;
    font-size: 16px;
}

#collectButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: firebrick;
    color: white;
    font-size: 16px;
}

#removeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: firebrick;
    color: white;
    font-size: 16px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url(../img/17.png);
    background-size: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 50px;
    line-height: 50px;
    background-color: black;
    opacity: 0.8;
}
