@using System.Security.Claims;
@{
    this.ViewData["Title"] = "Home Page";
}
<br />
<div>
    <h1 class="text-center" style="color: #df691a">Welcome to Movie's Library!</h1>
    <br />
    <br />
    <p class="h4 text-left"><i>Register and view a lot of movies with comments and ratings.</i></p>
    <br>
    <p class="h4 text-left"><i>Make your collection with favourite movies.</i></p>
        <br>
    <p class="h4 text-left"><i>Here is your place where you can comment,vote and fun with us!</i></p>
    <br>
    <br>
    <p class="h3 text-center"style="color: #df691a"><i>Your movie is here!Do not be late!Register and enjoy!</i></p>
</div>

