@using MovieLibrary.Common
@using MovieLibrary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (this.SignInManager.IsSignedIn(this.User))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Movies" asp-action="Top15Movies" class="btn" type="button" id="top15Button">
            <b> <i class="fas fa-film"></i> Top15 IMDb</b>
        </a>
    </li>
    <li class="nav-item">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownButton">
            <b>  <i class="fas fa-film"></i>Movies</b>
        </button>
        <ul class="dropdown-menu" id="categoryMenu">
            <li>
                <vc:categories-of-movie>
                </vc:categories-of-movie>
            </li>
        </ul>
    </li>
    <li>
        <form class="d-flex" asp-area="" asp-controller="Search" asp-action="Search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn=info" type="submit" id="searchButton"><i class="fas fa-search"></i></button>
        </form>
    </li>

    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item ">
            <button class="btn  dropdown-toggle " type="button" data-toggle="dropdown" id="dropdownButton">
                <b><i class="fas fa-user-cog"></i> Admin</b>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " id="categoryMenu">
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Movies" asp-action="Add" title="AddMovie"><b>Add Movie</b></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Add" title="AddCategory"><b>Add Category</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Artists" asp-action="Add" title="AddArtist"><b>Add Artist</b></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="All" title="AllMovie"><b>View All Movies</b></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="All" title="AllCategory"><b>View All Categories</b></a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Artists" asp-action="All" title="AllArtist"><b>View All Artists</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Comments" asp-action="All" title="AllArtist"><b>View All Comments</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="GatherMovies" asp-action="AddDb" title="AddDb"><b>Add Data</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>Settings</b></a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item ">
            <button class="btn  dropdown-toggle " type="button" data-toggle="dropdown" id="dropdownButton">
                <b> <i class="fas fa-user"></i> My Profile</b>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu " id="categoryMenu">
                <li>
                    <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><b>Settings</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Users" asp-action="Profile" title="AddPhoto"><b>Add profile picture</b></a>
                </li>
                <li>
                    <a class="nav-link " asp-area="" asp-controller="Movies" asp-action="Collection" title="Collection"><b>MyCollection</b></a>
                </li>
            </ul>
        </li>
    }
    <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="nav-link btn btn-link  "><b><i class="fas fa-sign-out-alt"></i>Logout</b></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn btn-link " asp-area="Identity" asp-page="/Account/Register"><b><i class="far fa-address-card"></i> Register</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-link " asp-area="Identity" asp-page="/Account/Login"><b><i class="fas fa-sign-in-alt"></i>Login</b></a>
    </li>
}




