@using MovieLibrary.Common
@model MovieLibrary.Web.ViewModels.Artists.OutputArtistViewModel
<script src="https://kit.fontawesome.com/7bda27f782.js" crossorigin="anonymous"></script>
<br />
<br />
<br />
<div class="d-flex justify-content-center">
    <div class="card text-center" style="width:400px">
        <div class="img-fluid img-thumbnail">
            <img class="card-img-top" src=@Model.PhotoUrl alt="Artist image" style="height:500px;width:380px">
        </div>
        <p class="text-white container-fluid"><h3>@Model.Name</h3></p>
        @*<p class="text-white container-fluid">@Model.BiographyUrl</p>*@
        <a href="@Model.BiographyUrl" class="stretched-link text-info" style="position:relative;">
            @Model.BiographyUrl
        </a>
        <br />
    </div>
</div>
@section Path{
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Movies/All">Home</a></li>
            <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
            <li class="breadcrumb-item"><a href="/Movies/Details?movieId=@Model.MovieId">Detail</a></li>
            <li class="breadcrumb-item active" aria-current="page">Artist</li>
        </ol>
    </nav>
}
