@using MovieLibrary.Common
@using MovieLibrary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*<script src="https://kit.fontawesome.com/7bda27f782.js" crossorigin="anonymous"></script>*@
@*<div class="collapse navbar-collapse" id="navbarNavDropdown-7">*@
<ul>
    @if (this.SignInManager.IsSignedIn(this.User))
    {
<li class="nav-item dropdown ">
            <button class="btn  dropdown-toggle text-white" type="button" data-toggle="dropdown">
                <b>  <i class="fas fa-film"></i>Movies</b>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu ">
                <li>
                    <vc:categories-of-movie>
                    </vc:categories-of-movie>
                </li>
            </ul>
        </li>
        <li>
            <form class="d-flex" asp-controller="Search" asp-action="Search" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn=info" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </li>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle text-white" type="button" data-toggle="dropdown">
                    <b><i class="fas fa-user-cog"></i> Admin</b>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li>
                        <h6>
                            <a class="nav-link " asp-controller="Movies" asp-action="Add" title="AddMovie" target="_blank"><b>Add Movie</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link" asp-controller="Categories" asp-action="Add" title="AddCategory"><b>Add Category</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link " asp-controller="Artists" asp-action="Add" title="AddArtist"><b>Add Artist</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link" asp-controller="Movies" asp-action="All" title="AllMovie"><b>View All Movies</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link" asp-controller="Categories" asp-action="All" title="AllCategory"><b>View All Categories</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link" asp-controller="Artists" asp-action="All" title="AllArtist"><b>View All Artists</b></a>
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link " asp-controller="Comments" asp-action="All" title="AllArtist"><b>View All Comments</b></a>
                        </h6>
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <button class="btn  dropdown-toggle text-white" type="button" data-toggle="dropdown">
                    <b> <i class="fas fa-user"></i> My Profile</b>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li>
                        <h6>
                            <a class="nav-link " asp-controller="Users" asp-action="Profile" title="Settings"><b>Add profile picture</b></a>
                            @*<a class="text-white" href="/Users/Profile"> Settings</a>*@
                        </h6>
                    </li>
                    <li>
                        <h6>
                            <a class="nav-link " asp-controller="Movies" asp-action="Collection" title="Collection"><b>MyCollection</b></a>
                            @*<a class="text-white" href="/Movies/Collection"> MyCollection</a>*@
                        </h6>
                    </li>
                </ul>
            </li>
        }
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-white "><b><i class="fas fa-sign-out-alt"></i>Logout</b></button>
            </form>
        </li>

    }
    else
    {

        <li class="nav-item">
            <a class="nav-link btn btn-link text-white" asp-area="Identity" asp-page="/Account/Register"><b><i class="far fa-address-card"></i> Register</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-white" asp-area="Identity" asp-page="/Account/Login"><b><i class="fas fa-sign-in-alt"></i>Login</b></a>
        </li>

    }
</ul>
@*</div>*@


