@model MovieLibrary.Web.ViewModels.Comments.InputCommentViewModel
@{
    var movieId = Model.MovieId;
}

<div class="conteiner text-center">
    <fieldset class="border border-white">
        <legend style="width:auto;padding:10px;">
            Add comment
        </legend>

        <form class="form-horizontal" method="post">
            <div class="mb-3 row">
                <label asp-for="Content" class="col-form-label col-sm-2">Your Comment:</label>
                <div class="col-sm-8">
                    <input asp-for="Content" type="text" class="form-control" id="content" placeholder="Enter your comment...">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
                    <a class="btn btn-primary rounded-pill" href="/comments/allcomments?movieid=@movieId" role="button">Cancel</a>
                </div>
            </div>
            @section Path{
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Movies/All">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Movies/All">Movies</a></li>
                        <li class="breadcrumb-item"><a href="/Movies/Details?movieId=@Model.MovieId">Detail</a></li>
                        <li class="breadcrumb-item"><a href="/Comments/AllComments?movieId=@Model.MovieId">Comments</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Comment</li>
                    </ol>
                </nav>
            }
        </form>
    </fieldset>
</div>

