@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="container text-center">
    <fieldset class="border border-white">
        <legend style="width:auto;padding:10px;">
            @ViewData["Title"]
        </legend>
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </fieldset>
</div>
