<div class="alert alert-success" role="alert">
    Category already exists!
</div>
@section Path{
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Categories" asp-action="All">All Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category</li>
        </ol>
}